
.navbar{
	display: flex;
	flex-wrap: wrap;
	text-align: start  !important;
}

.icons{
	text-align: start !important;
}
.nav-link :hover{
    color:#18bfef !important;
}

.fa-xing{
	color: #026466;
}

.fa-envelope{
	color: #fd1111de;
}

.fa-linkedin-in{
	color: #0077b5;
}

.fa-github{
	color: #6cc644;
}